flows.json
[
    {
        "id": "1de86a8c009f6431",
        "type": "tab",
        "label": "Form",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "51d9f31023dcb87e",
        "type": "tab",
        "label": "Data Inputs",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9a31af321821a61b",
        "type": "group",
        "z": "51d9f31023dcb87e",
        "name": "Text İnput",
        "style": {
            "label": true
        },
        "nodes": [
            "5b99920b7208a130",
            "4a5dbde72d5e3d1e",
            "cc03ab748b142d7d",
            "5d1181972aef1ecd",
            "1de98a0acc47c686",
            "717b41dc1f71cae5",
            "6156bc8f0cacf3a4",
            "4d04c2c8cb61ccba",
            "44cf1dbdb8b26f92",
            "073b50470673c4f0",
            "2bc13f85fc88e056"
        ],
        "x": 54,
        "y": 59,
        "w": 512,
        "h": 442
    },
    {
        "id": "1aebc6eb734846e8",
        "type": "group",
        "z": "51d9f31023dcb87e",
        "name": "Number İnput",
        "style": {
            "label": true
        },
        "nodes": [
            "850fcdcd98bc7204",
            "5795e2efeeb035e6",
            "50a2d5f31a2c187c"
        ],
        "x": 74,
        "y": 559,
        "w": 392,
        "h": 142
    },
    {
        "id": "305249280ed59028",
        "type": "group",
        "z": "51d9f31023dcb87e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "13d34ff9bbb36511",
            "1da48b6e19462530",
            "64599252599a1495",
            "5e170a2f7befd7c3",
            "306f47e8f2cc45c7",
            "f624e6e819a26819",
            "c84ca576c3461f61",
            "19390b65578be524",
            "7b239f643161798d",
            "9637f9052702f811",
            "8e54764d57d9b9da",
            "b1267f9aa7f38d62"
        ],
        "x": 134,
        "y": 739,
        "w": 852,
        "h": 309.5
    },
    {
        "id": "c10e0f2095d3fb6f",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "8cf4da8091b4db72",
        "type": "ui-page",
        "name": "Form",
        "ui": "c10e0f2095d3fb6f",
        "path": "/forms",
        "icon": "home",
        "layout": "grid",
        "theme": "bc3b3c70279a722f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e906e5798e60ffd5",
        "type": "ui-group",
        "name": "Create Form With Function",
        "page": "8cf4da8091b4db72",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2b7f9131b42d64a7",
        "type": "ui-group",
        "name": "Default Form",
        "page": "8cf4da8091b4db72",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "482764ee6302c8cb",
        "type": "ui-page",
        "name": "Data Inputs",
        "ui": "c10e0f2095d3fb6f",
        "path": "/data_inputs",
        "icon": "home",
        "layout": "tabs",
        "theme": "bc3b3c70279a722f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1b7d2d0c1524ec47",
        "type": "ui-group",
        "name": "Slider",
        "page": "482764ee6302c8cb",
        "width": "6",
        "height": "1",
        "order": 7,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e84d2f87ba8e3040",
        "type": "ui-group",
        "name": "Text",
        "page": "482764ee6302c8cb",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "03283794a0740f87",
        "type": "ui-group",
        "name": "Number",
        "page": "482764ee6302c8cb",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f1eaa766dd3d591d",
        "type": "ui-group",
        "name": "File Input",
        "page": "482764ee6302c8cb",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "126777f0370d8eef",
        "type": "ui-group",
        "name": "Switch",
        "page": "482764ee6302c8cb",
        "width": "6",
        "height": "1",
        "order": 8,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "eae3a20061ef3564",
        "type": "ui-group",
        "name": "Button Group",
        "page": "482764ee6302c8cb",
        "width": "6",
        "height": "1",
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9bd96ea1da36d741",
        "type": "ui-group",
        "name": "Button",
        "page": "482764ee6302c8cb",
        "width": "6",
        "height": "1",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a34866a7ecce645a",
        "type": "ui-group",
        "name": "Select Options",
        "page": "482764ee6302c8cb",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bc3b3c70279a722f",
        "type": "ui-theme",
        "name": "Dark Theme",
        "colors": {
            "surface": "#000000",
            "primary": "#456eb0",
            "bgPage": "#212121",
            "groupBg": "#4f4f4f",
            "groupOutline": "#292929"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "6px",
            "groupGap": "6px",
            "groupBorderRadius": "6x",
            "widgetGap": "6px"
        }
    },
    {
        "id": "10bbe2e7d18e49ed",
        "type": "ui-group",
        "name": "My Group",
        "page": "7f8c1cf435e7e734",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "7f8c1cf435e7e734",
        "type": "ui-page",
        "name": "Charts",
        "ui": "c10e0f2095d3fb6f",
        "path": "/page5",
        "icon": "home",
        "layout": "grid",
        "theme": "17b84012b7aecc8d",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "17b84012b7aecc8d",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "211bb4c7241c7c54",
        "type": "ui-form",
        "z": "1de86a8c009f6431",
        "name": "",
        "group": "2b7f9131b42d64a7",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Default Form",
                "key": "defaultForm",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "defaultForm": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 110,
        "y": 100,
        "wires": [
            [
                "77530e74344e5944"
            ]
        ]
    },
    {
        "id": "00c9c0ce626d22db",
        "type": "comment",
        "z": "1de86a8c009f6431",
        "name": "Default Form",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "b950713588968b87",
        "type": "ui-form",
        "z": "1de86a8c009f6431",
        "name": "",
        "group": "e906e5798e60ffd5",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Default Form",
                "key": "defaultForm",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "defaultForm": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 550,
        "y": 300,
        "wires": [
            [
                "c05302a6a1a8d455"
            ]
        ]
    },
    {
        "id": "92722eaf70a29ccb",
        "type": "comment",
        "z": "1de86a8c009f6431",
        "name": "Computed Form",
        "info": "",
        "x": 140,
        "y": 220,
        "wires": []
    },
    {
        "id": "342ad57691c527cf",
        "type": "function",
        "z": "1de86a8c009f6431",
        "name": "function 1",
        "func": "msg.ui_update = {\n    Label :\"This is the New Label\",\n    options: [\n        {\n            \"type\": \"text\",\n            \"label\": \"Name\",\n            \"key\": \"name\",\n            \"required\": true\n        },\n        {\n            \"type\": \"multiline\",\n            \"label\": \"comment\",\n            \"key\": \"comment\",\n            \"required\": false,\n            \"rows\": 4\n        },\n        {\n            \"type\": \"password\",\n            \"label\": \"Password\",\n            \"key\": \"password\",\n            \"required\": false\n        },\n        {\n            \"type\": \"email\",\n            \"label\": \"E-Mail Address\",\n            \"key\": \"email\",\n            \"required\": false\n        }\n    ],\n    dropdownOptions : [\n\n    ],\n    class:''\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 280,
        "wires": [
            [
                "b950713588968b87"
            ]
        ]
    },
    {
        "id": "df20bec4dfd63415",
        "type": "ui-button",
        "z": "1de86a8c009f6431",
        "group": "e906e5798e60ffd5",
        "name": "",
        "label": "Create Form",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "white",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "342ad57691c527cf"
            ]
        ]
    },
    {
        "id": "34e60bfadec789fe",
        "type": "ui-button",
        "z": "1de86a8c009f6431",
        "group": "e906e5798e60ffd5",
        "name": "Reset",
        "label": "Reset",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "white",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "540e6380eaec345a"
            ]
        ]
    },
    {
        "id": "540e6380eaec345a",
        "type": "function",
        "z": "1de86a8c009f6431",
        "name": "function 2",
        "func": "msg.ui_update = {\n    Label :\"This is the New Label\",\n    options: [\n    ],\n    dropdownOptions : [\n\n    ],\n    class:''\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 580,
        "wires": [
            [
                "b950713588968b87"
            ]
        ]
    },
    {
        "id": "ade88481bc034cf4",
        "type": "function",
        "z": "1de86a8c009f6431",
        "name": "function 3",
        "func": "msg.ui_update = {\n    Label :\"LABEL IS CHANGED\",\n    options: [\n        {\n            \"type\": \"text\",\n            \"label\": \"Name\",\n            \"key\": \"name\",\n            \"required\": true\n        },\n        {\n            \"type\": \"dropdown\",\n            \"label\": \"Dropdown\",\n            \"key\": \"selection\"\n        }\n    ],\n    dropdownOptions : [\n        {\n            \"dropdown\": \"selection\",\n            \"value\": \"1\",\n            \"label\": \"Option 1\"\n        },\n        {\n            \"dropdown\": \"selection\",\n            \"value\": \"2\",\n            \"label\": \"Option 2\"\n        }\n    ],\n    class:''\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 480,
        "wires": [
            [
                "b950713588968b87"
            ]
        ]
    },
    {
        "id": "9354828b53f7872e",
        "type": "ui-button",
        "z": "1de86a8c009f6431",
        "group": "e906e5798e60ffd5",
        "name": "",
        "label": "Add Dropdown",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "blue",
        "textColor": "white",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "ade88481bc034cf4"
            ]
        ]
    },
    {
        "id": "429f74111cfd6b7c",
        "type": "function",
        "z": "1de86a8c009f6431",
        "name": "function 4",
        "func": "msg.payload = {\n    \"name\" : \"Murat Can Berber\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 380,
        "wires": [
            [
                "b950713588968b87"
            ]
        ]
    },
    {
        "id": "a7b7b531aeac2c5c",
        "type": "ui-button",
        "z": "1de86a8c009f6431",
        "group": "e906e5798e60ffd5",
        "name": "",
        "label": "Change Value In Label",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "purple",
        "textColor": "white",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "429f74111cfd6b7c"
            ]
        ]
    },
    {
        "id": "c05302a6a1a8d455",
        "type": "debug",
        "z": "1de86a8c009f6431",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "77530e74344e5944",
        "type": "debug",
        "z": "1de86a8c009f6431",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 100,
        "wires": []
    },
    {
        "id": "cecf32594501cba8",
        "type": "debug",
        "z": "1de86a8c009f6431",
        "name": "tesst ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 660,
        "wires": []
    },
    {
        "id": "95f9f07235b86494",
        "type": "inject",
        "z": "1de86a8c009f6431",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 720,
        "y": 640,
        "wires": [
            [
                "cecf32594501cba8"
            ]
        ]
    },
    {
        "id": "5b99920b7208a130",
        "type": "ui-text-input",
        "z": "51d9f31023dcb87e",
        "g": "9a31af321821a61b",
        "group": "e84d2f87ba8e3040",
        "name": "",
        "label": "text",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "4a5dbde72d5e3d1e"
            ]
        ]
    },
    {
        "id": "13d34ff9bbb36511",
        "type": "ui-file-input",
        "z": "51d9f31023dcb87e",
        "g": "305249280ed59028",
        "group": "f1eaa766dd3d591d",
        "name": "text file ",
        "order": 3,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "label": "File Input",
        "icon": "paperclip",
        "allowMultiple": false,
        "accept": ".txt, .csv",
        "className": "",
        "x": 220,
        "y": 780,
        "wires": [
            [
                "1da48b6e19462530"
            ]
        ]
    },
    {
        "id": "6da76d2b96b6aa21",
        "type": "ui-radio-group",
        "z": "51d9f31023dcb87e",
        "group": "a34866a7ecce645a",
        "name": "",
        "label": "Select Option:",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": 1,
        "passthru": false,
        "options": [
            {
                "label": "test1",
                "value": "test1",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 780,
        "y": 80,
        "wires": [
            [
                "867d35a1819f8c42"
            ]
        ]
    },
    {
        "id": "319209ee1d9544ee",
        "type": "ui-slider",
        "z": "51d9f31023dcb87e",
        "group": "1b7d2d0c1524ec47",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 770,
        "y": 180,
        "wires": [
            [
                "be4089d3b99d56e3"
            ]
        ]
    },
    {
        "id": "85a46c46f81c4a0c",
        "type": "ui-switch",
        "z": "51d9f31023dcb87e",
        "name": "",
        "label": "switch",
        "group": "126777f0370d8eef",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 280,
        "wires": [
            [
                "ba533b44d3b32689"
            ]
        ]
    },
    {
        "id": "4a5dbde72d5e3d1e",
        "type": "ui-text",
        "z": "51d9f31023dcb87e",
        "g": "9a31af321821a61b",
        "group": "e84d2f87ba8e3040",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "867d35a1819f8c42",
        "type": "ui-text",
        "z": "51d9f31023dcb87e",
        "group": "a34866a7ecce645a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1010,
        "y": 80,
        "wires": []
    },
    {
        "id": "be4089d3b99d56e3",
        "type": "ui-text",
        "z": "51d9f31023dcb87e",
        "group": "1b7d2d0c1524ec47",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "ba533b44d3b32689",
        "type": "ui-text",
        "z": "51d9f31023dcb87e",
        "group": "126777f0370d8eef",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1030,
        "y": 280,
        "wires": []
    },
    {
        "id": "aea8bc0f01b23d80",
        "type": "ui-button-group",
        "z": "51d9f31023dcb87e",
        "name": "",
        "group": "eae3a20061ef3564",
        "order": 1,
        "width": 6,
        "height": 1,
        "label": "button group",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "test",
                "icon": "",
                "value": "test",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "test1",
                "icon": "",
                "value": "test1",
                "valueType": "str",
                "color": "#999999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 790,
        "y": 380,
        "wires": [
            [
                "c3d1fd2e065a7c68"
            ]
        ]
    },
    {
        "id": "fac503de115fe2fd",
        "type": "ui-button",
        "z": "51d9f31023dcb87e",
        "group": "9bd96ea1da36d741",
        "name": "",
        "label": "button",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 770,
        "y": 500,
        "wires": [
            [
                "5343ccd455a1f507"
            ]
        ]
    },
    {
        "id": "c3d1fd2e065a7c68",
        "type": "ui-text",
        "z": "51d9f31023dcb87e",
        "group": "eae3a20061ef3564",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1030,
        "y": 380,
        "wires": []
    },
    {
        "id": "5343ccd455a1f507",
        "type": "ui-text",
        "z": "51d9f31023dcb87e",
        "group": "9bd96ea1da36d741",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1030,
        "y": 500,
        "wires": []
    },
    {
        "id": "cc03ab748b142d7d",
        "type": "ui-text-input",
        "z": "51d9f31023dcb87e",
        "g": "9a31af321821a61b",
        "group": "e84d2f87ba8e3040",
        "name": "text area",
        "label": "text area",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "textarea",
        "tooltip": "text area",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "4a5dbde72d5e3d1e"
            ]
        ]
    },
    {
        "id": "5d1181972aef1ecd",
        "type": "ui-text-input",
        "z": "51d9f31023dcb87e",
        "g": "9a31af321821a61b",
        "group": "e84d2f87ba8e3040",
        "name": "email",
        "label": "email",
        "order": 3,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "email",
        "tooltip": "email",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "4a5dbde72d5e3d1e"
            ]
        ]
    },
    {
        "id": "1de98a0acc47c686",
        "type": "ui-text-input",
        "z": "51d9f31023dcb87e",
        "g": "9a31af321821a61b",
        "group": "e84d2f87ba8e3040",
        "name": "password",
        "label": "password",
        "order": 4,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "password",
        "tooltip": "password",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "4a5dbde72d5e3d1e"
            ]
        ]
    },
    {
        "id": "717b41dc1f71cae5",
        "type": "ui-text-input",
        "z": "51d9f31023dcb87e",
        "g": "9a31af321821a61b",
        "group": "e84d2f87ba8e3040",
        "name": "number",
        "label": "number",
        "order": 5,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "tooltip": "password",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "4a5dbde72d5e3d1e"
            ]
        ]
    },
    {
        "id": "6156bc8f0cacf3a4",
        "type": "ui-text-input",
        "z": "51d9f31023dcb87e",
        "g": "9a31af321821a61b",
        "group": "e84d2f87ba8e3040",
        "name": "color picker",
        "label": "color picker",
        "order": 6,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "color",
        "tooltip": "color picker",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "4a5dbde72d5e3d1e"
            ]
        ]
    },
    {
        "id": "4d04c2c8cb61ccba",
        "type": "ui-text-input",
        "z": "51d9f31023dcb87e",
        "g": "9a31af321821a61b",
        "group": "e84d2f87ba8e3040",
        "name": "datetime picker",
        "label": "datetime picker",
        "order": 7,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "datetime-local",
        "tooltip": "datetime picker",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "4a5dbde72d5e3d1e"
            ]
        ]
    },
    {
        "id": "44cf1dbdb8b26f92",
        "type": "ui-text-input",
        "z": "51d9f31023dcb87e",
        "g": "9a31af321821a61b",
        "group": "e84d2f87ba8e3040",
        "name": "date  picker",
        "label": "date  picker",
        "order": 9,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "date",
        "tooltip": "date  picker",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "4a5dbde72d5e3d1e"
            ]
        ]
    },
    {
        "id": "073b50470673c4f0",
        "type": "ui-text-input",
        "z": "51d9f31023dcb87e",
        "g": "9a31af321821a61b",
        "group": "e84d2f87ba8e3040",
        "name": "time picker",
        "label": "time picker",
        "order": 11,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "time",
        "tooltip": "time picker",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "4a5dbde72d5e3d1e"
            ]
        ]
    },
    {
        "id": "2bc13f85fc88e056",
        "type": "ui-text-input",
        "z": "51d9f31023dcb87e",
        "g": "9a31af321821a61b",
        "group": "e84d2f87ba8e3040",
        "name": "week picker",
        "label": "week picker",
        "order": 8,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "week",
        "tooltip": "week picker",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "4a5dbde72d5e3d1e"
            ]
        ]
    },
    {
        "id": "850fcdcd98bc7204",
        "type": "ui-number-input",
        "z": "51d9f31023dcb87e",
        "g": "1aebc6eb734846e8",
        "group": "03283794a0740f87",
        "name": "",
        "label": "number",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "5795e2efeeb035e6"
            ]
        ]
    },
    {
        "id": "5795e2efeeb035e6",
        "type": "ui-text",
        "z": "51d9f31023dcb87e",
        "g": "1aebc6eb734846e8",
        "group": "03283794a0740f87",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 390,
        "y": 600,
        "wires": []
    },
    {
        "id": "50a2d5f31a2c187c",
        "type": "ui-number-input",
        "z": "51d9f31023dcb87e",
        "g": "1aebc6eb734846e8",
        "group": "03283794a0740f87",
        "name": "number stacked",
        "label": "number",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "tooltip": "number stacked",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "stacked",
        "x": 180,
        "y": 660,
        "wires": [
            [
                "5795e2efeeb035e6"
            ]
        ]
    },
    {
        "id": "1da48b6e19462530",
        "type": "file",
        "z": "51d9f31023dcb87e",
        "g": "305249280ed59028",
        "name": "",
        "filename": "file.name",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 380,
        "y": 780,
        "wires": [
            [
                "7b239f643161798d"
            ]
        ]
    },
    {
        "id": "64599252599a1495",
        "type": "file in",
        "z": "51d9f31023dcb87e",
        "g": "305249280ed59028",
        "name": "",
        "filename": "file.name",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 660,
        "y": 780,
        "wires": [
            [
                "5e170a2f7befd7c3"
            ]
        ]
    },
    {
        "id": "5e170a2f7befd7c3",
        "type": "ui-text-input",
        "z": "51d9f31023dcb87e",
        "g": "305249280ed59028",
        "group": "f1eaa766dd3d591d",
        "name": "text area",
        "label": "text area",
        "order": 4,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "textarea",
        "tooltip": "text area",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 860,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "306f47e8f2cc45c7",
        "type": "watch",
        "z": "51d9f31023dcb87e",
        "g": "305249280ed59028",
        "name": "",
        "files": ".",
        "recursive": "",
        "x": 210,
        "y": 1000,
        "wires": [
            [
                "f624e6e819a26819"
            ]
        ]
    },
    {
        "id": "f624e6e819a26819",
        "type": "exec",
        "z": "51d9f31023dcb87e",
        "g": "305249280ed59028",
        "command": "find . -maxdepth 1 -type f ! -name \"package.json\" ! -name \"entrypoint.sh\"",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get files",
        "x": 420,
        "y": 1000,
        "wires": [
            [
                "c84ca576c3461f61",
                "19390b65578be524"
            ],
            [],
            []
        ]
    },
    {
        "id": "c84ca576c3461f61",
        "type": "debug",
        "z": "51d9f31023dcb87e",
        "g": "305249280ed59028",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1000,
        "wires": []
    },
    {
        "id": "19390b65578be524",
        "type": "ui-template",
        "z": "51d9f31023dcb87e",
        "g": "305249280ed59028",
        "group": "f1eaa766dd3d591d",
        "page": "",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <div>\n{{msg.payload}}}\n</template>\n\n<script>\n    export default {\n        data() {\n            // define variables available component-wide\n            // (in <template> and component functions)\n            return {\n                count: 0\n            }\n        },\n        watch: {\n            // watch for any changes of \"count\"\n            count: function () {\n                if (this.count % 5 === 0) {\n                    this.send({payload: 'Multiple of 5'})\n                }\n            }\n        },\n        computed: {\n            // automatically compute this variable\n            // whenever VueJS deems appropriate\n            formattedCount: function () {\n                return this.count + ' Apples'\n            }\n        },\n        methods: {\n            // expose a method to our <template> and Vue Application\n            increase: function () {\n                this.count++\n            }\n        },\n        mounted() {\n            // code here when the component is first loaded\n        },\n        unmounted() {\n            // code here when the component is removed from the Dashboard\n            // i.e. when the user navigates away from the page\n        }\n    }\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 880,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "7b239f643161798d",
        "type": "switch",
        "z": "51d9f31023dcb87e",
        "g": "305249280ed59028",
        "name": "",
        "property": "file.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": ".txt",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".png",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 820,
        "wires": [
            [
                "64599252599a1495"
            ],
            [
                "9637f9052702f811"
            ]
        ]
    },
    {
        "id": "9637f9052702f811",
        "type": "file in",
        "z": "51d9f31023dcb87e",
        "g": "305249280ed59028",
        "name": "",
        "filename": "file.name",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 660,
        "y": 840,
        "wires": [
            [
                "8e54764d57d9b9da"
            ]
        ]
    },
    {
        "id": "8e54764d57d9b9da",
        "type": "ui-template",
        "z": "51d9f31023dcb87e",
        "g": "305249280ed59028",
        "group": "f1eaa766dd3d591d",
        "page": "",
        "ui": "",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <img src=\"usr/src/Screenshot 2024-09-21 144602.png\">\n</template>\n\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 840,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "b1267f9aa7f38d62",
        "type": "inject",
        "z": "51d9f31023dcb87e",
        "g": "305249280ed59028",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 900,
        "wires": [
            [
                "f624e6e819a26819"
            ]
        ]
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "372bb85a6d4b6811",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "DATA",
        "func": "// Generate 100 data points\nconst totalPoints = 100;\nconst startDate = new Date(); // Current time as the start date\nlet data = [];\n\n// Loop to create random values for Baca1Value and Baca2Value at 1-minute intervals\nfor (let i = 0; i < totalPoints; i++) {\n    // Generate random values between a defined range (e.g., 0 to 100)\n    const Baca1Value = Math.random() * 100;\n    const Baca2Value = Math.random() * 100;\n\n    // Calculate the record time for each point (1-minute intervals)\n    const recordTime = new Date(startDate.getTime() + i * 60000); // 60000ms = 1 minute\n\n    // Add the generated data to the array\n    data.push({\n        Baca1Value: Baca1Value.toFixed(2), // Optional: limit to 2 decimal places\n        Baca2Value: Baca2Value.toFixed(2),\n        RecordTime: recordTime.toISOString() // Convert to ISO string for easy handling\n    });\n}\n\n// Output the generated data points\nmsg.payload = data;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "bf971abbbc8e2a15",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 5",
        "func": "const data = {x:new Date(), y: Math.floor(Math.random() * 100)}\n\nmsg.payload = data;\nmsg.topic = 'Series 1'\n\nlet chartData = flow.get('chartData')\nchartData.push( data) \nflow.set('chartData', chartData)\n\n\n//msg.payload = [{\"x\":\"2024-10-17T07:44:29.605Z\",\"y\":44},{\"x\":\"2024-10-08T07:44:29.845Z\",\"y\":36},{\"x\":\"2024-10-08T07:44:30.103Z\",\"y\":99},{\"x\":\"2024-10-08T07:44:30.367Z\",\"y\":7},{\"x\":\"2024-10-08T07:44:30.601Z\",\"y\":93},{\"x\":\"2024-10-08T07:44:30.804Z\",\"y\":1},{\"x\":\"2024-10-08T07:44:31.001Z\",\"y\":97},{\"x\":\"2024-10-08T07:44:31.210Z\",\"y\":33}]\nmsg.topic = 'Series 1'\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "aaca1d48bdec152b",
        "type": "ui-button",
        "z": "f6f2187d.f17ca8",
        "group": "10bbe2e7d18e49ed",
        "name": "",
        "label": "send",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "eeac26a65f180a82"
            ]
        ]
    },
    {
        "id": "fdd2aa474037c7e8",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 220,
        "wires": [
            [
                "681ccbcc446f714b"
            ]
        ]
    },
    {
        "id": "eeac26a65f180a82",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 6",
        "func": "let data = [{\n\"series\": [\"A\", \"B\", \"C\"],\n\"data\": [\n    [{ \"x\": 1729189020536, \"y\": 5 },\n     { \"x\": 1729189030536, \"y\": 4 },\n     { \"x\": 1729189040536, \"y\": 2 }\n    ],\n    [{ \"x\": 1729189050536, \"y\": 6 },\n     { \"x\": 1729189060536, \"y\": 7 },\n     { \"x\": 1729189070536, \"y\": 6 }\n    ],\n    [{ \"x\": 1729189080536, \"y\": 7 },\n     { \"x\": 1729189090536, \"y\": 7 },\n     { \"x\": 1729189100536, \"y\": 7 }\n    ]\n],\n\"labels\": [\"\"]\n}]\n\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 360,
        "wires": [
            [
                "68c523b3e105c1f4",
                "681ccbcc446f714b"
            ]
        ]
    },
    {
        "id": "68c523b3e105c1f4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 420,
        "wires": []
    },
    {
        "id": "3d98947028c14253",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 420,
        "wires": [
            [
                "eeac26a65f180a82"
            ]
        ]
    },
    {
        "id": "581f3483a6baab90",
        "type": "ui-button",
        "z": "f6f2187d.f17ca8",
        "group": "10bbe2e7d18e49ed",
        "name": "",
        "label": "zero",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "fdd2aa474037c7e8"
            ]
        ]
    },
    {
        "id": "681ccbcc446f714b",
        "type": "ui-chart",
        "z": "f6f2187d.f17ca8",
        "group": "10bbe2e7d18e49ed",
        "name": "",
        "label": "chart",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "HH:mm:ss",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 670,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "66ab5492120c526f",
        "type": "debug",
        "z": "1de86a8c009f6431",
        "name": "main",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 620,
        "wires": []
    }
]